@font-face {
  font-family: 'Neulis';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Bold.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  font-style: bold;
}


.Fondo {
  background-image: url("../../assets2/fondo2.jpg");
  background-size: cover;
  height: 200vh;
}

.container {
  margin-top: 100px;
  font-family: Arial, sans-serif !important;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Neulis', sans-serif !important;
}


.productosImg {
  position: relative;
  right: 30px;
  top: -50px;
  width: 17%;
}


.title h1 {
  color: white;
  font-size: 100px;

}



.titleImg {
  width: 25%;
  margin-bottom: 10px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  position: relative;
  top: -40px;
}

.formGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.a {
  letter-spacing: 1.4px;
  margin-left: 5px;
}

.p {
  letter-spacing: 1.4px;
  color: white;
  font-size: 24px;
}


.containerFooter {
  margin-top: -170px;
  padding-top: 100px;
}

.ballonder2 {
  position: absolute;
  top: 13%;
  right: 10%;
  width: 10%;
}

.ballonder {
  position: absolute;
  bottom: 43%;
  left: 10%;
  width: 8%;
}

.ballon1zq {
  position: absolute;
  bottom: 16%;
  right: 10%;
  width: 8%;
}

.productosImg {
  position: relative;
  right: 30px;
  top: -30px;
  width: 17%;
}




.titularIMG {
  width: 45%;
  position: relative;
  margin-top: 0px;
}


.titleImg2 {
  width: 55%;
  position: relative;
  right: 0px;
  top: 0px;
}


/* 
segundos estilos para el footer */

.containerFooter {
  margin-top: -170px;
  padding-top: 100px;
  /*   background-color: white; */
  position: absolute;
  bottom: 30px;
  width: 100%;
}


.footer {
  color: white;
  text-align: center;
  padding: 0px 0px;
  font-family: 'Neulis', sans-serif;
  margin-top: 0px;

  /* 
  position: absolute;
  bottom: 0;
  width: 100%; */
}

.links {
  margin-bottom: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.links a:hover {
  text-decoration: underline;
}

.links a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Neulis2', sans-serif !important;
}

.logoImg {
  width: 10%;
  margin-top: -10px;
}




@media (max-width: 768px) {

  .Fondo {
    background-image: url("../../assets2/fondoMobileLog2.jpg");
  
    height: 180vh;
  }

  .ballonder2 {
    display: none;
  }

  .ballonder {
    display: none;
  }

  .ballon1zq {
    display: none;
  }

  .productosImg {
    /* position: relative;
     right: 30px;
     width: 200px; */
    position: relative;
    right: 30px;
    width: 65%;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .productosImg {
    position: relative;
    top: -40px;
  }

  .titleImg {
    width: 75%;
  }

  .p {
    padding: 20px;
  }


  .productosImg {
    position: relative;


  }

  .containerFooter {
    margin-top: -100px;
    padding-top: 100px;
  }

  

  /* footer 2 */

  .containerFooter {
    margin-top: -40vh;
    padding-top: 120px;
    /* background-color: white; */
  }

  .footer {
    color: white;
    text-align: center;
    padding: 0px 0px;
    font-family: 'Neulis', sans-serif;
    margin-top: 0px;


    position: none;
    bottom: none;
    width: none;
    margin-top: 20px;
    position: relative;
    top: -30px;
  }


  .links {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .links a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Neulis2', sans-serif !important;
    margin-top: 10px;
  }

  .brResp {
    display: none;
  }

  .logoImg {
    width: 50%;
    margin-top: 10px;
  }


  
.titularIMG {
  width: 75%;
  position: relative;
  margin-top: 0px;
}


}



@media (max-width:377px) {


  .Fondo {
    background-image: url("../../assets2/fondo_registro_mobile3.jpg");
     height: 260vh;
  }

}