@font-face {
  font-family: 'Neulis';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Bold.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  font-style: bold;
}


@font-face {
  font-family: 'Neulis2';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Regular.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  font-style: bold;
}


.container {
  background-image: url("../../assets2/fondo2.jpg");
  background-size: cover;
  width: 100%;
  height: 190vh;
  z-index: -1;
  padding-top: 180px;
  font-family: 'Neulis', sans-serif;
  border: 1px solid transparent;
  /* Usa 'sans-serif' como respaldo */
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #32ab56;
  text-align: center;
}

.titleImg2 {
  width: 55%;
  position: relative;
  right: 30px;
  top: 100px;
}

.titularIMG {
  width: 45%;
  position: relative;
  margin-top: 0px;
}


.titleImg {
  width: 25%;
  margin-top: -50px;
}


.loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
  padding-left: 100px;
}

.formGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -30px;
}

.a {
  margin-top: 50px;
  font-family: 'Omnes', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  margin-left: 5px;
}

.p {
  margin-top: 40px;
  font-family: 'Omnes', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  color: white;
  font-size: 24px;
}


.containerFooter {
  margin-top: -170px;
  padding-top: 100px;
  background-color: white;
}


.contentInputsCheck {
  display: flex;
  justify-content: flex-start;
  /* Alinea los elementos hijos hacia la izquierda */
  min-width: 995px;
}

.divChek {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Omnes', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  color: #21459a;
  font-size: 16px;
  margin: 10px;
  margin-top: 40px;
  font-family: 'Neulis', sans-serif;
}

.divChek input {
  margin-right: 10px;
}


.productosImg {
  position: relative;
  right: 30px;
  top: -30px;
  width: 17%;
}

.brResp {
  display: none;
}


.footer {
  color: white;
  text-align: center;
  padding: 30px 20px;
  font-family: 'Neulis', sans-serif;
  margin-top: 0px;
}

.links {
  margin-bottom: 10px;
  font-size: 30px;
}

.links a:hover {
  text-decoration: underline;
}

.links a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Neulis2', sans-serif !important;
}

.logoImg {
  width: 20%;
  margin-top: -10px;
}

@media (max-width: 1200px) {


  .loginForm {
    padding-left: 0px;
  }


}

/* Estilos para el footer */

@media (max-width: 768px) {

  .container {
    background-image: url("../../assets2/fondo_registro_mobile3.jpg");
    background-position: center center;
    height: 235vh; 
    border-bottom: 1px solid #0a83b7; 
    /* Usa 'sans-serif' como respaldo */
  }


  .loginForm {
    margin-top: 0px;
  }



  .container {
    padding-top: 0px;
  }

  .productosImg {
    width: 75%;
  }

  .title {
    width: 100%;
    text-align: center;
    margin-top: 30px !important;
    padding-top: 40px;
  }

  .titleImg {
    width: 60%;
    top: 10px;
    margin-top: -28px !important;
    left: 20px;
  }

  .titleImg2 {
    width: 65%;
    position: relative;
    margin-top: -100px;
      right: 0px;
  }

  .titularIMG {
    width: 70%;
    position: relative;
    top: -60px;
  }

  .p {
    padding: 20px;
  }

  .formGroup {
    flex-direction: column;
    margin-top: 0px;
  }

  .contentInputsCheck {
    flex-direction: column;
    padding: 20px;
    min-width: none;
    margin-top: 40px;
  }

  .contentInputsCheck {
    display: flex;
    justify-content: flex-start;
    /* Alinea los elementos hijos hacia la izquierda */
    min-width: 100px;
    padding-top: 0px;
    text-align: left;
    align-items: start;
  }


  .divChek {
    margin: 0 !important;
    position: relative;
    right: 0px;
    /* margin-left: 30px; */
  }

  .brResp {
    display: flex;
  }

  .footer {
    margin-top: 50px;
  }

  .logoImg {
    width: 50%;
    margin-top: 10px;
  }

  .links a {
    font-size: 18px;
  }

}