@font-face {
  font-family: 'Neulis';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Bold.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  font-style: bold;
}


@font-face {
  font-family: 'Neulis2';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Regular.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  font-style: bold;
}


.container {
  background-image: url("../../assets2/fondo4.jpg");
  background-size: cover;
  width: 100%;
  height: 1750px;
  z-index: -1;
  padding-top: 180px;
  font-family: 'Neulis', sans-serif;

  border-bottom: 1px solid #0a83b7;
  border-top: 1px solid #fdd315;
  /* Usa 'sans-serif' como respaldo */
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #32ab56;
  text-align: center;
}

.titleImg2 {
  width: 55%;
  position: relative;
  right: 0px;
  top: 0px;
}

.titularIMG {
  width: 45%;
  position: relative;
  margin-top: 0px;
}


.titleImg {
  width: 25%;
  margin-top: -120px;
  position: relative;
  top: -40px;
}


.loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
  max-width: 800px;
  min-width: 800px;
}

.formGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -30px;
}

.a {
  margin-top: 50px;
  font-family: 'Omnes', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  margin-left: 5px;
}

.p {
  margin-top: 40px;
  font-family: 'Omnes', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  color: white;
  font-size: 24px;
}


.containerFooter {
  margin-top: -170px;
  padding-top: 100px;
  background-color: white;
}


.contentInputsCheck {
  display: flex;
  justify-content: flex-start;
  /* Alinea los elementos hijos hacia la izquierda */
  min-width: 825px;
}

.divChek {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Omnes', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  color: #21459a;
  font-size: 16px;
  margin: 10px;
  margin-top: 40px;
  font-family: 'Neulis', sans-serif;
}

.divChek input {
  margin-right: 10px;
}


.productosImg {
  position: relative;
  right: 30px;
  top: -30px;
  width: 17%;
}

.brResp {
  display: none;
}


.footer {
  color: white;
  text-align: center;
  padding: 0px 0px;
  font-family: 'Neulis', sans-serif;
  margin-top: 0px;


  position: absolute;
  bottom: 30px;
  width: 100%;
}

.links {
  margin-bottom: 10px;
  font-size: 30px;
}

.links a:hover {
  text-decoration: underline;
}

.links a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Neulis2', sans-serif !important;
}

.logoImg {
  width: 10%;
  margin-top: -10px;
}


/* //estilos para el nuevo input// */


.formGroup2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -30px;
  margin-top: 30px;
  max-width: 800px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  right: 16px;
}

.formGroup2 textarea {
  width: 95%;
  height: 55px;
  border-radius: 10px;
  border: none;
  max-width: 750px;
  min-width: 750px;
  padding: 20px;
  max-height: 55px;
  min-height: 55px;
  font-family: 'Neulis', sans-serif;

}


.imgVoucher {
  margin-top: 75px;
  width: 650px;
  cursor: pointer;
  z-index: 10;
}

.imgTexto {
  margin-bottom: 75px;
  width: 900px;
}


@media (max-width: 1500px) {


  .container {
    height: 1550px;
  }


}


@media (max-width: 1200px) {


  .loginForm {
    padding-left: 0px;
  }


}

@media (max-width: 1200px) {

  .container {
    height: 210vh;
  }


}

/* Estilos para el footer */

@media (max-width: 768px) {

  .container {
    background-image: url("../../assets2/fondo_registro_mobile3.jpg");
    background-position: center center;
    height: 260vh;
    /* Usa 'sans-serif' como respaldo */
  }

  .imgVoucher {
    width: 310px;
    margin-top: 40px;
  }

  .imgTexto {
    width: 90%;
  }



  .loginForm {
    margin-top: -50px;
  }



  .container {
    padding-top: 0px;
  }

  .productosImg {
    width: 75%;
  }

  .title {
    width: 100%;
    text-align: center;
    margin-top: 30px !important;
    padding-top: 40px;
  }

  .titleImg {
    width: 60%;
    top: 10px;
    margin-top: -28px !important;
    left: -10px;
  }

  .titleImg2 {
    width: 250px;
    position: relative;
    margin-top: -0px;
    right: 0px;
    top: 0px;
  }

  .titularIMG {
    width: 70%;
    position: relative;
    top: -60px;
  }

  .p {
    padding: 20px;
  }

  .formGroup {
    flex-direction: column;
    margin-top: 0px;
  }

  .contentInputsCheck {
    flex-direction: column;
    padding: 20px;
    min-width: none;
    margin-top: 40px;
  }

  .contentInputsCheck {
    display: flex;
    justify-content: flex-start;
    /* Alinea los elementos hijos hacia la izquierda */
    min-width: 100px;
    padding-top: 0px;
    text-align: left;
    align-items: start;
  }


  .divChek {
    margin: 0 !important;
    position: relative;
    right: 0px;
    /* margin-left: 30px; */
  }

  .brResp {
    display: flex;
  }

  .footer {
    margin-top: 50px;
  }

  .logoImg {
    width: 50%;
    margin-top: 10px;
  }

  .links a {
    font-size: 18px;
  }


  .footer {
    color: white;
    text-align: center;
    padding: 0px 0px;
    font-family: 'Neulis', sans-serif;
    margin-top: 0px;


    position: none;
    bottom: none;
    width: none;
  }


  /* ////textarea */
  .formGroup2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    left: 0px;

  }

  .formGroup2 p {
    position: relative;
    right: 25px;

  }

  .formGroup2 textarea {
    width: 277px;
    max-width: 277px !important;
    min-width: 277px !important;
    height: 55px;
    border-radius: 10px;
    border: none;
    padding: 20px;
  }



}


@media (max-width: 376px) {

  .container {
    background-image: url("../../assets2/fondo_registro_mobile3.jpg");
    background-position: center center;
    height: 276vh;
    border-bottom: 1px solid #0a83b7;
    /* Usa 'sans-serif' como respaldo */
  }


}