@font-face {
  font-family: 'Neulis';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Bold.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  /* font-style: bold; */
}


@font-face {
  font-family: 'Neulis2';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Regular.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  /* font-style: bold; */
}

.content {
    max-width: 100%;
    letter-spacing: 1.4px;
    margin-top: 30px;
}

.contentInput {
    position: relative;
    max-width: 800px;
    margin-top: 40px;
    text-align: left;
}

.label {
    margin-left: 5px;
    color: #2b469c;
    font-family: "Neulis", sans-serif;
}

.inputField {
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 65px;
    padding-right:65px;
    padding-bottom: 20px;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    max-width: 665px;
    min-width: 665px;
    font-size: 17px;
    margin-top: 10px;
    font-family: "Neulis", sans-serif;
}


.inputField::placeholder {
    color: rgb(206, 226, 243);
    font-size: 15px;
    font-size: 17px;
}

.iconInput {
    position: absolute;
    left: 10%;
    top: 13px;
}

.iconInputDer {
    position: absolute;
    right: 20px;
    top: 25%;
}


.Perr {
    position: absolute;
    bottom: -40px;
    left: 10px;
    color: red;
}


@media (max-width: 768px) {

    .content {
        margin-top: 10px;
    }

    .contentInput {
        max-width: 100vw;
        padding-left: 0px;
        padding-left: 20px;
    }

    .contentInput {
        position: relative;
        max-width: 430px;
        margin-top: 40px;
        text-align: left;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 0px;
    }

    .inputField {
        padding-left: 60px;
        padding-right: 60px;
        max-width: 190px !important;
        min-width: 190px !important;
        /* border: 1px solid black !important;; */
    }

    .iconInput {
        position: absolute;
        left: 15%;
        top: 13px;
    }

    .iconInputDer {
        position: absolute;
        right: 10%;
        top: 25%;
    }

    .Perr {
        left: 30px;
    }


}