@font-face {
  font-family: 'Neulis';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Bold.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  font-style: bold;
}


@font-face {
  font-family: 'Neulis2';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Regular.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  font-style: bold;
}

.Fondo {
  background-image: url("../../assets2/fondo2.jpg");
  background-size: cover;
  height: 200vh;
}

.container {

  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #2b469c;
}



.p {
  margin-top: 40px;
  font-family: 'Neulis', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  color: white;
  font-size: 24px;
  text-align: center;
}


.containerFooter {
  margin-top: -170px;
  padding-top: 100px;
  /*   background-color: white; */
  position: absolute;
  bottom: 30px;
  width: 100%;
}



.contentInputsCheck {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divChek {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Neulis', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  color: white;
  font-size: 18px;
  margin: 10px;
  margin-top: 40px;
}

.divChek input {
  margin-right: 10px;
}

.contentUserData {
  width: 1100px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.datosUserDiv {
  width: 30%;
  height: auto;
  margin: 30px;
}

.datosUser {
  /* background-color: #ffe631; */
  border-radius: 50px;
  padding: 20px;
  padding-top: 20px;
  padding-left: 55px;
  padding-right: 0px;
  height: 200px;
  width: 100%;
  text-align: left;
  position: relative;
  top: -5px;
  background-color: white;
}

.datosUser h1 {
  font-family: 'Neulis', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  font-size: 40px;
  position: relative;
  top: -30px;
}

.datosUser .p1 {
  font-family: 'Neulis', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  font-size: 18px;
  position: relative;
  top: -60px;
}

.p2 {
  font-family: 'Neulis', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
  font-size: 18px;
  color: #de2b28;
  cursor: pointer;
  position: relative;
  top: -10px;
}

.datosVucherDiv {
  width: 70%;
  height: auto;
  padding: 20px;
  padding-left: 40px;
  font-family: 'Neulis', sans-serif;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px;
}

.datosImg {
  height: 100%;
  width: 85%;
  background-color: white;
  border-radius: 50px;
  text-align: left;
  padding: 30px;
  padding-top: 45px;
  padding-left: 55px;
  position: relative;
  top: 5px;
}

.datosImg h1 {
  font-size: 35px;
  position: relative;
  top: -45px;
}

.datosImg h1 br{
  display: none;
}

.datosImg p {
  font-size: 18px;
  position: relative;
  top: -70px;
}


.containImgs {
  width: 90%;
  max-width: 600px;
  overflow-x: auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  top: -60px;
  height: 200px;
}


.productosImg {
  position: relative;
  right: 30px;
  top: -30px;
  width: 59.8%;
}




.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.titleImg2 {
  width: 55%;
  position: relative;
  right: 0px;
  top: 0px;
}


.titularIMG {
  width: 45%;
  position: relative;
  margin-top: 0px;
}


.titleImg {
  width: 25%;
  margin-top: -50px;
}


.btnSend {
  width: 100%;
  position: relative;
  bottom: 10px;
}



/* 
segundos estilos para el footer */
.footer {
  color: white;
  text-align: center;
  padding: 0px 0px;
  font-family: 'Neulis', sans-serif;
  margin-top: 0px;

  /* 
  position: absolute;
  bottom: 0;
  width: 100%; */
}

.links {
  margin-bottom: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.links a:hover {
  text-decoration: underline;
}

.links a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Neulis2', sans-serif !important;
}

.logoImg {
  width: 10%;
  margin-top: -10px;
}



@media (min-width: 1600px) {

  .productosImg {
    position: relative;
    right: 30px;
    top: -30px;
    width: 70%;
  }


}


@media (max-width: 1101px) {


  .productosImg {
    position: relative;
    right: 30px;
    width: 200px;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .titleImg {
    width: 60%;
  }

  .titleImg2 {
    width: 90%;
    position: relative;
    left: -7px;
    /* right: 0px;
    left: 0px; */
  }

  .p {
    padding: 20px;
  }

  .contentUserData {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
  }


  .datosUserDiv {
    width: 90%;
    height: auto;
    margin: 30px;
  }

  .datosUser {

    width: 80%;
    text-align: left;

  }

  /* .titleImg{
  width:  30%;
} */

  .title {
    text-align: center;
    padding-left: 0px;
    margin-top: 0px;
  }

  /* .title2{
  max-width:100%;
} */


  .contentUserData {
    position: relative;
    right: 20px;

  }

  .datosImg h1 {
    margin-bottom: 80px;
  }
}



@media (max-width: 768px) {


  .Fondo {
    background-image: url("../../assets2/fondo_registro_mobile3.jpg");
    height: 270vh;
  }


  .productosImg {
    /* position: relative;
    right: 90px;
    width: 290px;
    top: -80px; */
    width: 75%;
    top: -250px;
  }

  .contentUserData {
    position: relative;
    right: 5px;

  }

  .datosVucherDiv {
    width: 72.5%;
    position: relative;
    right: 3px;

  }


  .datosUser {
    position: relative;
    right: 5px;
  }


  .datosUser h1 {
    font-family: 'Neulis', sans-serif;
    /* Usa 'sans-serif' como respaldo */
    letter-spacing: 1.4px;
    font-size: 40px;
    position: relative;
    top: -30px;
    text-align: center;
    padding-right: 65px;
  }

  .datosUser .p1 {
    font-family: 'Neulis', sans-serif;
    /* Usa 'sans-serif' como respaldo */
    letter-spacing: 1.4px;
    font-size: 16px;
    position: relative;
    top: -60px;
    text-align: center;
    padding-right: 65px;
  }

  .datosUser .p2 {
    font-family: 'Neulis', sans-serif;
    /* Usa 'sans-serif' como respaldo */
    letter-spacing: 1.4px;
    font-size: 16px;
    position: relative;
    top: -30px;
    text-align: center;
    padding-right: 65px;
  }




  .datosImg {
    height: 100%;
    width: 85%;
    background-color: white;
    border-radius: 50px;
    text-align: left;
    padding: 30px;
    padding-top: 45px;
    padding-left: 45px;
    position: relative;
    top: 5px;
    text-align: center;
    position: relative;
    top: -10px;
  }

  .datosImg h1 {
    font-size: 35px;
    position: relative;
    top: -35px;
    padding-right: 0;
    text-align: center;
  }


  .datosImg h1 br{
  display: flex;
}

  .datosImg p {
    font-size: 35px;
    font-size: 18px;
    position: relative;
    top: -90px;
  }

  .h2Mob{
    font-size: 35px !important;
  }

  .containImgs {
    width: 90%;
    max-width: 600px;
    overflow-x: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    top: -20px;
    right: 6px;
    height: 200px;
  }

  .container {
    height: 1950px;
    margin-top: -100px;
  }


  .title {
    width: 100%;
    text-align: center;
  }

  .titularIMG {
    width: 70%;
    position: relative;
  }


  .titleImg {
    width: 75%;
    margin-top: 20px;
  }


  /* footer 2 */

  .containerFooter {
    margin-top: -40vh;
    padding-top: 120px;
    /* background-color: white; */
  }

  .footer {
    color: white;
    text-align: center;
    padding: 0px 0px;
    font-family: 'Neulis', sans-serif;
    margin-top: 0px;


    position: none;
    bottom: none;
    width: none;
    margin-top: 20px;
    position: relative;
    top: -30px;
  }


  .links {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .links a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Neulis2', sans-serif !important;
    margin-top: 10px;
  }

  .brResp {
    display: none;
  }

  .logoImg {
    width: 50%;
    margin-top: 10px;
  }

}



@media (max-width:377px) {


  .Fondo {
    background-image: url("../../assets2/fondo_registro_mobile3.jpg");
    border: 1px solid transparent;
    height: 300vh;
  }

}