@font-face {
  font-family: 'Omnes';
  src: url('../../fonts/Korolev Bold Compressed.otf') format('opentype');
  /* Cambié 'truetype' a 'opentype' si es necesario */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neulis';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Bold.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  font-style: bold;
}


@font-face {
  font-family: 'Neulis2';
  src: url('../../fonts/fonnts.com-Neulis_Neue_Regular.otf') format('opentype');
  font-weight: 100;
  /* Hairline suele ser muy delgado */
  font-style: bold;
}


.tycBackground {
  background-image: url("../../assets2/fondo2.jpg");
  background-size: cover;
  height: 270vh;

  font-family: 'Neulis', sans-serif !important;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px !important;
  background-color: white;
  color: rgb(0, 0, 0);
}



.container {
  /* padding: 20px; */
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  padding-bottom: 300px;
}

.container2 {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: red;
  line-height: 1.6;
  padding-bottom: 100px;
  max-height: 75vh;
  overflow-y: auto;
  /* 👈 esto permite el scroll vertical */
  margin-bottom: 100px;
  position: relative;
  top: 40px;
}



.container2 h1 {
  font-family: 'Neulis', sans-serif !important;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px !important;
  font-size: 30px;
  color: #1d40a0 !important;
}

.container2 p {
  font-family: 'Neulis', sans-serif !important;
  /* Usa 'sans-serif' como respaldo */
  letter-spacing: 1.4px !important;
  font-size: 16px;
    color: #1d40a0 !important;
}



.title {
  font-size: 24px;
  font-weight: bold;
  color: #32ab56;
  margin-bottom: 20px;
  text-align: center;
}

.text {
  font-size: 16px;
  margin-bottom: 15px;
  color: #053042;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

.list {
  margin: 20px 0;
  padding-left: 20px;
}

.list li {
  margin-bottom: 10px;
}

.list a {
  color: #32ab56;
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}

.containImg {
  top: 65%;
  left: 33%;
  text-align: center;
}

.containImg2 {
  position: absolute;
  top: 8%;
  left: -20px;
  text-align: center;
}

.ballonder2 {
  width: 50%;
}


.containerFooter {
  margin-top: 150px;
}


.titleImg {
  width: 30%;
}


.containImg3 {
  position: absolute;
  top: 65%;
  right: 0%;
  text-align: center;
}

.ballonder {
  width: 50%;
}


.containImg4 {
  position: absolute;
  top: 78%;
  left: 67%;
  text-align: right;
}

.ballon1zq {
  width: 80%;
}

.porductosImg {
  position: relative;
  right: 30px;
  top: -10px;
  width: 17%;
}

.margenFoter {
  height: 100px;
}



/* 
segundos estilos para el footer */

.containerFooter {
  margin-top: -170px;
  padding-top: 100px;
  /*   background-color: white; */
  position: absolute;
  bottom: 30px;
  width: 100%;
}


.footer {
  color: white;
  text-align: center;
  padding: 0px 0px;
  font-family: 'Neulis', sans-serif;
  margin-top: 0px;

  /* 
  position: absolute;
  bottom: 0;
  width: 100%; */
}

.links {
  margin-bottom: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.links a:hover {
  text-decoration: underline;
}

.links a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Neulis2', sans-serif !important;
}

.logoImg {
  width: 10%;
  margin-top: -10px;
}

.titularIMG {
  width: 45%;
  position: relative;
  margin-top: 0px;
}


.titleImg2 {
  width: 55%;
  position: relative;
  right: 0px;
  top: 0px;
}

.titleImg {
  width: 25%;
  margin-bottom: 10px;
}
@media (min-width: 1600px) {
  .containImg {
    top: 62%;
  }

  .containerFooter {
    margin-top: 300px;
  }

}



@media (max-width: 768px) {


  .tycBackground {

    background-image: url("../../assets2/fondo_registro_mobile3.jpg");
  
    height: 260vh;
  
    font-family: 'Neulis', sans-serif !important;
    /* Usa 'sans-serif' como respaldo */
    letter-spacing: 1.4px !important;
    background-color: white;
    color: rgb(0, 0, 0);
  }


  .containImg {
    /* display: none; */
    position: relative;
    top: 100px;

  }

  .containImg {
    top: 0;
    left: 0%;
    text-align: center;
  }

  .porductosImg {

    position: relative;
    top: 80px;

  }

  .containImg2 {
    display: none;
  }

  .containImg3 {
    display: none;
  }

  .containImg4 {
    display: none;
  }

  .titleImg {
    width: 100%;
  }

  .text {
    padding-left: 0%;
    padding-right: 0%;
  }

  .container {
    padding-bottom: 100px;
  }

  .container2 {
    max-height: 100vh;
    position: relative;
    margin-top: 0px;
  }

  .containImg {
    /* display: none; */
    top: 100px;
    background-color: transparent;
  }

  .porductosImg {
    width: 75%;
  }

  .container2 h1 {
    font-family: 'Neulis', sans-serif !important;
    /* Usa 'sans-serif' como respaldo */
    letter-spacing: 1.4px !important;
    font-size: 23px;
  }

  .container2 p {
    font-family: 'Neulis', sans-serif !important;
    /* Usa 'sans-serif' como respaldo */
    letter-spacing: 1.4px !important;
    font-size: 14px;
  }



  .margenFoter {
    height: 300px;
  }


    /* footer 2 */

  .containerFooter {
    margin-top: -40vh;
    padding-top: 120px;
    /* background-color: white; */
  }

  .footer {
    color: white;
    text-align: center;
    padding: 0px 0px;
    font-family: 'Neulis', sans-serif;
    margin-top: 0px;


    position: none;
    bottom: none;
    width: none;
    margin-top: 20px;
    position: relative;
    top: -30px;
  }


  .links {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .links a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Neulis2', sans-serif !important;
    margin-top: 10px;
  }

  .brResp {
    display: none;
  }

  .logoImg {
    width: 50%;
    margin-top: 10px;
  }


  
.titularIMG {
  width: 75%;
  position: relative;
  margin-top: 0px;
}

  .titleImg {
    width: 75%;
  }

}



@media (max-width:377px) {


  .Fondo {
    background-image: url("../../assets2/fondo_registro_mobile3.jpg");
     height: 290vh;
  }

}